<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1" parallel="tests" thread-count="3">
    <listeners>
        <!--<listener class-name="com.inetBanking.utilities.Reporting" />-->
        <listener class-name="com.inetBanking.utilities.MyTransformer"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="--BankingApp Test">

        <parameter name="myName" value="chandranath chatterjee"/>
        <!--<groups><run>-->
            <!--<include name="Regression"/>-->
        <!--</run></groups>-->

        <classes>
            <class name="com.inetBanking.testCases.TC_TestNG_Practice" >
            <methods>
                <include name="testCase_2"/>
            </methods>
            </class>
            <!--<class name="com.inetBanking.testCases.TC_Demo_DBTestData"></class>-->
            <!--<class name="com.inetBanking.testCases.TC_LoginDDT_002"/>-->
        </classes>
    </test>
</suite>